#app {
  width: 300px;
}

body {
  display: flex;
  justify-self: center;
  max-width: 300px;
  justify-content: center;
  align-items: center;
}

.buttonEnviarCadastroUsuario,
.buttonEnviarCadastroEmpresa {
  padding: 5px;
}

.formAndButtons {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
}

.viewButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.candidatosList,
.empresasList {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 300px;
  border-radius: 5px;
}

.candidatosList:hover,
.empresasList:hover {
  background-color: antiquewhite;
}

.views {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: visible;
  width: 100%;
  align-items: flex-start;
}

.views canvas {
  align-self: center;
}

#chartEmpresas,
#chartCandidatos {
  height: 500px;
  width: 500px;
  min-width: 500px;
}
