body {
  display: flex;
  justify-self: center;
  max-width: 300px;
}
.buttonEnviarCadastroUsuario,
.buttonEnviarCadastroEmpresa {
  padding: 5px;
}

.formAndButtons {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
}

.viewButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.views {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.candidatosList,
.empresasList {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border-radius: 5px;
}

.candidatosList:hover,
.empresasList:hover {
  background-color: aliceblue;
}

/* .candidatosList,
.empresasList h5 {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
} */
