body {
  display: flex;
  justify-self: center;
}
.buttonEnviarCadastroUsuario,
.buttonEnviarCadastroEmpresa {
  padding: 5px;
}

.formAndButtons {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
}
