### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle build output
/build/
/target/

# Gradle Wrapper logs
/gradle/wrapper/gradle-wrapper.log

# IDE files (IntelliJ IDEA, Eclipse, etc.)
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Others
*.class
*.jar
*.war
*.ear
/lib/
